<a href="https://colab.research.google.com/github/matsunori39/github_study/blob/tmp/GitHub_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Google Colab上でSQLを動かしてみます。

In [ ]:
%create database TEST1.db

In [ ]:
create table meibo
  (id int primary key, name varchar(20))

In [ ]:
select * from meibo;

In [ ]:
insert into meibo (id, name) values (1, "Yamada");

In [ ]:
insert into meibo (id, name) values (2, "Tanaka");

In [ ]:
insert into meibo (id, name) values (3, "Sato");

In [ ]:
select * from meibo

実はこのままでは動かないはずです。